{% extends 'student_template/base_template.html' %}
{% load static %}
{% block page_title %}
                 Feedback Message
{% endblock %}
{% block main_content %}

    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
                  <div class="card card-primary">
                      <div class="card-header">
                          <h3 class="card-title">Leave A Feedback Message</h3>
                      </div>
                    <form action="{% url 'student_feedback_save' %}" method="post">
                    {% csrf_token %}
                      <div class="card-body">
                          <div class="form-group">
                              <label>Feedback Message</label>
                              <textarea class="form-control" rows="6" name="feedback_msg"></textarea>
                          </div>


{#                          <div class="form-group">#}
{#                              <label>Attendance Data</label>#}
{#                             <input type="date" class="form-control" name="attendance_date" id="attendance_date">#}
{#                          </div>#}

                      </div>





                <div class="form-group">
                    {% if messages %}
                        <div class="col-12">
                            {% for message in messages %}
                                {% if message.tags == 'error' %}
                                    <div class="alert alert-danger text-center" style="margin-top: 10px">{{ message }}</div>
                                {% endif %}
                                {% if message.tags == 'success' %}
                                    <div class="alert alert-success text-center" style="margin-top: 10px">{{ message }}</div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn -block" id="fetch_student">Leave a Feedback</button>
                </div>
                 </form>
                  <br>

                  <div class="card">
                      <div class="card-header bg-success">
                              Feedback History
                      </div>
                  <div class="card-body">
                          <table class="table-bordered table text-center">
                              <thead>
                              <tr>
                                  <th>ID</th>
                                  <th>Feedback Message</th>
                                  <th>Feedback Reply</th>

                              </tr>
                              </thead>
                              <tbody>
                              {% for row in feedback_data %}
                                  <tr>
                                  <td>{{ row.id }}</td>
                                   <td>{{ row.feedback }}</td>
                                   <td>{{ row.feedback_reply }}</td>
                                  </tr>
                              {% endfor %}
                              </tbody>
                          </table>
                  </div>
                      </div>

                  </div>

                  </div>
              </div>
          </div>

      </div>
    </section>
{% endblock %}

