{% extends 'student_template/base_template.html' %}
{% load static %}
{% block page_title %}
                Attendance Data
{% endblock %}
{% block main_content %}
    <style>
    .col-lg-3.attendance_div_red {
        padding: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        background: #f44336;
        border: 10px solid white;
        text-align: center;
        color: #fff;
        border-radius: 30px;
        box-shadow: 1px 1px 1px grey;
        margin-top: 10px;
        margin-bottom: 10px;
    }

        .col-lg-3.attendance_div_green{
        padding: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        background: #388e3c;
        border: 10px solid white;
        text-align: center;
        color: #fff;
        border-radius: 30px;
        box-shadow: 1px 1px 1px grey;
        margin-top: 10px;
        margin-bottom: 10px;


    }
    </style>

    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
                  <div class="card card-primary">
                      <div class="card-header">
                          <h3 class="card-title">View Attendance</h3>
                      </div>

                      <div class="card-body">
                          <div class="row">
                          {% for attendance_report in attendance_reports %}
                              {% if attendance_report.status == True %}
                              <div class="col-lg-3 attendance_div_green">
                              <b>Date : {{ attendance_report.attendance_id.attendance_date }}</b><br>
                                  <b>[ Status : Present ]</b>
                              </div>

                              {% else %}
                                  <div class="col-lg-3 attendance_div_red">
                                      <b>Date : {{ attendance_report.attendance_id.attendance_date }}</b><br>
                                      <b>[ Status : Absent ]</b>
                                  </div>
                               {% endif %}
                          {% endfor %}

                          </div>
                      </div>





                  </div>
          </div>
      </div>
      </div>
    </section>
{% endblock %}

{#{% block custom_js %}#}
{#    <script>#}
{#    $(document).ready(function () {#}
{#        $("#fetch_student").click(function(){#}
{#            var subject=$("#subject").val()#}
{#            var session_year=$("#session_year").val()#}
{##}
{#            $.ajax({#}
{#                url:'{% url 'get_students' %}',#}
{#                type:'POST',#}
{#                data:{subject:subject,session_year:session_year},#}
{#            })#}
{#            .done(function(response){#}
{#                var json_data=JSON.parse(response);#}
{#                console.log(response)#}
{#                var div_data="<div class='form-group'><label> Attendance Date</label> <input type='date' id='attendance_date' name='attendance_date' class='form-control' </div><div class='row'>";#}
{#                for(key in json_data)#}
{#                {#}
{#                    div_data+="<div  class='col-lg-2'><div class='form-check'><input type='checkbox' checked='checked' name='student_data[]' value='"+json_data[key]['id']+"'><label class='form-check-label'>"+json_data[key]['name']+"</label></div></div>";#}
{##}
{#                }#}
{#                div_data+="</div></div>";#}
{#                div_data+="<div class='from-group'>";#}
{#                div_data+="<button id='save_attendance' class='btn btn-success btn-block' type='button'>Save Attendance Data</button>";#}
{#                $("#student_data").html(div_data);#}
{#            })#}
{#            .fail(function(){#}
{#                alert("Error In Fetching Students")#}
{##}
{#            })#}
{#            $(document).on("click","#save_attendance",function () {#}
{##}
{#                $(this).attr('disabled','disabled')#}
{#                 $(this).text('Saving Attendance Data.....')#}
{##}
{#                var student_data=$("input[name='student_data[]']").map(function () {#}
{#                    if ($(this).is(":checked")){#}
{#                        return {"id":$(this).val(),"status":1};#}
{#                    }#}
{#                    else {#}
{#                         return {"id":$(this).val(),"status":0};#}
{##}
{#                    }#}
{#                }).get()#}
{#                var attendance_date=$("#attendance_date").val();#}
{#                var subject_id=$("#subject").val();#}
{#                var session_year_id=$("#session_year").val();#}
{#                console.log(student_data)#}
{#                student_data=JSON.stringify(student_data)#}
{##}
{##}
{##}
{#                $.ajax({#}
{#                    url:'{% url 'save_attendance_data' %}',#}
{#                    type:'POST',#}
{#                    data:{student_ids:student_data,attendance_date:attendance_date,subject_id:subject_id,session_year_id:session_year_id},#}
{#                })#}
{#            .done(function(response){#}
{#                if(response=='OK'){#}
{#                    alert("Attendance Save")#}
{#                }#}
{#                else {#}
{#                    alert("Error In Saving Data")#}
{#                }#}
{#                location.reload()#}
{##}
{#            })#}
{#            .fail(function(){#}
{#                alert("Error In Saving Students")#}
{##}
{#            })#}
{##}
{##}
{#            })#}
{#        })#}
{##}
{##}
{#    })#}
{#    </script>#}
{##}
{#{% endblock %}#}
